@page "/caselist"
@layout DashboardLayout
@using System.Net.Http.Headers
@using System.Text.Json
@using System.Linq
@inject IJSRuntime JSRuntime
@inject IHttpClientFactory ClientFactory
@inject IDialogService DialogService
<MudContainer Fixed="true">
    <div class="w-100 h-100">
        <h3>Alert / Notification</h3>
        <CaseListTable/>
    </div>
</MudContainer>


@code {
    
}
