@page "/worker"
@layout DashboardLayout

<MudContainer Fixed="true">
    <div class="w-100 h-100">
        <h3>Worker</h3>
        
        <WorkerSectionTable />
    </div>
</MudContainer>

@code {
    
}
